@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDF1;
  --foreground: #141415;
  --primary: #FE5C29;
  --font-title: 'IBM Plex Sans', sans-serif;
  --font-body: 'PT Sans', sans-serif;
  --font-accent: 'Calistoga', serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #141415;
    --foreground: #FFFDF1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

@layer utilities {
  .transit {
    @apply transition-all duration-300 ease-in-out transform ease-in-out;
  }
}
